---
layout: page
---
<style>
  h3 {text-align:center}
  p {text-align:center}
  td {text-align:center; vertical-align:middle}
  th {text-align:center; vertical-align:middle}
  table {border: 1px solid black;border-collapse: collapse; text-align:center}
</style>
<p>
  ಹಿಮಕುಂಡ ಸಮಭಾಸಂ ದೈತ್ಯಾನಂ ಪರಮಂ ಗುರುಂ ಸರ್ವ ಶಾಸ್ತ್ರ ಪ್ರವಕ್ತಾರಂ ಭಾರ್ಗವಂ ಪ್ರಣಮಾಮ್ಯಹಮ್
</p>
<!--

  <p>
    What - Collection of Ideas, Thoughts and Failures
  </p>
<p>
Why -  Successful Mars Landing
</p>
<p>
How
</p>
<h5 >Technology</h5>
<table>
  <tr>
    <th>Project</th>
    <th>Description</th>
  </tr>
    <tr>
      <td> <a href="https://slabstech.com/amma/">ಅಮ್ಮ : Amma</a>  </td>
      <td>Decision Engine</td>
    </tr>
    <tr>
      <td><a href="https://slabstech.com/revive/">Revive</a>   </td>
      <td>Microservices Template Generator</td>
    </tr>
  </table>
<h5>Literature</h5>
<p>
  The stories that mould statues of memories in numerous clay
</p>
<table>
  <tr>
    <th>Name</th>
    <th>Download</th>
    <th>Buy</th>
  </tr>
    <tr>
      <td><a href="https://slabstech.com/revive/">Revive</a></td>
      <td><a href="https://raw.githubusercontent.com/slabstech/revive/main/revive.pdf">PDF</a></td>
      <td><a href="https://amzn.to/3A1m1qm">Ebook</a></td>
    </tr>
    <tr>
      <td><a href="https://gaganyatri.com/books/publish/exp56.md">Exp56</a></td>
      <td><a href="https://gaganyatri.com/assets/pdf/exp56_vol_1.PDF">PDF</a></td>
      <td> <a href="https://amzn.to/3N5JcmY">Ebook</a>/<a href="https://buy.stripe.com/bIY5o7aQoc0q7Is4gi">Hardcover</a>  </td>
    </tr>
    <tr>
      <td> <a href="https://slabstech.com/connectingthedots.com/">Connect the Dots</a></td>
      <td>--</td>
      <td><a href="https://buy.stripe.com/28ocQz3nW4xYgeY7st">Paperback</a> / <a href="https://buy.stripe.com/00g2bV2jS5C29QA6oo">Hardcover</a> </td>
    </tr>
    <tr>
      <td><a href="https://gaganyatri.com/dark_tales">Dark tales</a></td>
      <td>--</td>
      <td> <a href="https://amzn.to/3IRm2Ac">Ebook</a></td>
    </tr>
  </table>
-->
<p>
Creating  <a href="https://mangala.earth">ಭೂಮಿ </a> for NASA <a href="https://2022.spaceappschallenge.org">Space Apps</a> Challenge 2022
</p>

<p>How To: <a href="https://gaganyatri.com/build/building-hpc-saas-startup-from-browser/">Build a SaaS startup</a>
</p>
