---
layout: home
author_profile: true
---

<table>
  <tr>
      <th>
    <img src="assets/art/logo.jpg" alt="Sketch of A Girl" style="border: 5px solid #555"></th>
      </tr>
</table>

<br/>

<table>
  <tr>
      <th></th>
      <th>Buy</th>
      <th></th>
      <th></th>
    </tr>
    <tr>
    <!--  <td><a href="https://amzn.to/3O7tCIz">Kindle E-Book</a></td>
      -->
      <td><a href="https://www.amazon.de/dp/B0B6X96TFF/">Paperback</a></td>

      <td><a href="https://www.amazon.de/dp/B0B6XL4H87/">Hardcover</a></td>
      <td></td>
    <td><a href="https://slabstech.com/connectthedots.com/assets/art/connect_the_dots.PDF">Download PDF</a></td>
  </tr>
</table>