<html>
    <head>
        <title>Contact</title>
    </head>
    <body>
        <table border="1">
            <tr>
                <th colspan="2">Contact ({{contact.id}})</th>
            </tr>
            <tr>
                <td>Name</td>
                <td>({{contact.name}})</td>
            </tr>
            <tr>
                <td>Phone</td>
                <td>({{contact.phone}})</td>
            </tr>
        </table>
    </body>
</html>