---
layout: page
---

{{ content }}

<table style="border: 1px solid black;border-collapse: collapse;text-align: center;">
  <tr>
    <th style="text-align:center">Location</th>
    <th style="text-align:center">Description</th>
  </tr>

    <tr>
      <td>ಹುಬ್ಬಳ್ಳಿ / Hubballi</td>
      <td>Home Sweet Home</td>
    </tr>
    <tr>
      <td><a href="https://slabstech.com/alemaari.in/blog/bad-honnef">ಭಾದ್ ಹೊನ್ನೆಫ್ / Bad Honnef</a> </td>
      <td>Home Away From Home</td>
    </tr>
</table>