<div class="page__footer-copyright">
	{% if site.copyright %}
	{{ site.copyright | markdownify }}
	{% else %}
	<p>&copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }}. {{ site.data.text[site.locale].powered_by | default: "Powered by" }}  <a href="https://slabstech.com" rel="nofollow">S Labs Solutions</a>.  - <a href="https://github.com/slabstech/ammanaaduge.com" rel="nofollow">Code</a></p>
	{% endif %}
</div>
