<footer id="footer" class="site-footer">
  {% include footer-custom.html %}

  {%- if site.footer_links -%}
    <div class="social-icons">
      {%- for footer_link in site.footer_links -%}
        {%- if footer_link.url contains "://" -%}
          {%- assign url = footer_link.url -%}
        {%- else -%}
          {%- assign url = footer_link.url | relative_url -%}
        {%- endif -%}
        <a class="social-icon" href="{{ url }}"><i class="{{ footer_link.icon | default: 'fas fa-link' }} fa-2x" title="{{ footer_link.title }}"></i></a>
      {%- endfor -%}
    </div>
  {%- endif -%}

  <div class="copyright">
    {% if site.copyright %}
      {{ site.copyright | markdownify }}
    {% else %}
      <p>&copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }}. <a href="{{ site.url }}/site/privacy" > Privacy </a>, <a href="{{ site.url }}/tags" >Sitemap </a> </p>
    {% endif %}
  </div>