---
layout: page
---

{{ content }}

<h4>Idea :</h4>
<ul>
 <li>The system will generate layouts for Habitat modules and provide Assistance and monitoring to Martial explorers.</li>
 <li>Based on mission duration ( 4 years minimum - due to orbital sync of Earth to Mars transfer orbit).</li>
 <li>Fresh and local grown food is necessary for Sustenance and survival of crew members.</li>
 <li>The system will monitor the green house and provide information to Mission specialist</li>
</ul>

<h6>Glossary</h6>
<ul>
 <li>Bhoomi - Habitat</li>
 <li>Vyommitra - Habitat Assistant and Monitor System -  <a href="https://mangala.earth/research/abstract/"> Abstract </a> for <a href="https://iaaspace.org/SSEO"> SSEO 2022 </a> - November 5 2023</li>
</ul>

<h5>Priority of Outfitting the Habitat</h5>
<ul>
 <li>Night/Winter Shelter : Low temperature</li>
 <li>Green House : Nutrition and Sustenance with <a href="https://mangala.earth/research/hydroponics/">Hydroponics</a></li>
 <li>Power Generation : Solar Farms</li>
 <li>Landing/Launch Zone : Reusable Rockets for Logistics and Supplies</li>
 <li>Computer Server : <a href="https://mangala.earth/research/server/">H/W and S/W Requirements</a></li>
</ul>

<h4>Layout Design </h4>
<img src="https://raw.githubusercontent.com/slabstech/bhoomi/main/docs/images/habitat_layout.jpg"  width="600" height="400" alt="Habitat Layout" />
<br>
<br>

<a href="https://mangala.earth/research/habitat/"> Read More for Habitat </a>

<h4>Build Order</h4>

<ul>
  <li>Roller- for logistics
  <ul>
   <li>Floor Plank : 1 item :  4 x 6 x 0.25 ft (1.22 x 1.82 x 0.07 m Approx ) : width x length x height </li>
   <li>Side plank : 2 item : </li>
   <li>Side plank : 2 item : </li>
   <li>Wheels : 4 items : Rover wheels </li>
   <li>Handle Mechanism - Long-stick + Handhold</li>
  </ul>
 </li>
 <li>Hydroponics - Vegetation</li>
 <li>Water Filtration System</li>
 <li>Frames - Solar panel</li>
</ul>
<h5>Sub modules</h5>
<ul>
  <li><a href="https://mangala.earth/research/module-spray/">Solar Array Maintenance with Swarm of Unmanned Aerial Vehicles(UAV) drones </a>   </li>

  <li><a href="https://mangala.earth/research/module-gardener/">Swarm of Unmanned Ground Vehicles(UGV)</a> with <a href="https://github.com/nasa-jpl/osr-rover-code"> OSR Rover </a></li>
</ul>

<h4>3D Tools</h4>
For the Habitat's Greenhouse Module. Below tools have to be 3D printed
<ul>
 <li>Metal Cutter/Shearer : To repurpose landing gear shell for walls and compartments </li>
 <li>Exercise Equipment : Weight + Dumbbells - With hollow compartments to fill with Martion legolith increase weight</li>
 <li>Photo Frames : Mental Heatlh and sense of belonging to mission and life</li>
 <li>Portable Water Dispenser : Needle septum at Galley and Greenhouse</li>
 <li>Rubber/Soft Mallet : Bend materials into shape for building compartment from Re-used shells and 3D printer boards</li>
 <li>Wires - Thick filaments to hold items into places </li>
 <li>Cutlery/Garden Tools : Scissors, knife, Screw Driver - Standard head </li>
</ul >

<h4>Space Agency Data</h4>
<ul>
 <li><a href="https://ntrs.nasa.gov/api/citations/20200001427/downloads/20200001427.pdf">Habitat Requirements</a></li>
 <li><a href="https://www.mosdac.gov.in/flip-book/demos/mars.html">ISRO-Mars Atlas</a></li>
 <li><a href="https://www.isro.gov.in/MarsOrbiterMissionSpacecraft.html">ISRO-Mars Orbiter</a></li>
 <li><a href="https://www.isro.gov.in/media_isro/pdf/Publications/Sciencedata/mars_orbiter_mission_mom_-_list_of_publications-october2020.pdf">ISRO-Mars Orbiter Publications</a></li>
 <li><a href="https://mars.nasa.gov/">NASA - Mars</a></li>
 <li><a href="https://www.esa.int/Science_Exploration/Human_and_Robotic_Exploration/Gateway_International_Habitat">ESA - I-Hab</a></li>
 <li><a href="https://www.nasa.gov/gateway/overview"> Gateway Config</a></li>
 <li><a href="https://www.esa.int/Science_Exploration/Human_and_Robotic_Exploration"> ESA Robotic Exploration</a></li>
 <li><a href="https://www.vssc.gov.in/IISU.html">Vyommitra - ISRO Inertial Systems Unit (IISU) </a></li>
 <li><a href="https://www.iist.ac.in/">Indian Institute of Space Science and Technology</a></li>
 <li><a href="https://www.isro.gov.in/IAA.html">IAA-ISRO-ASI Symposium on Human Space Flight and Exploration </a></li>
 <li><a href="https://iaaspace.org/event/1st-iaa-isro-asi-human-spaceflight-programme-2020/">IAA Symposium, 2020, Bangalore </a></li>
 <li><a href="https://www.iist.ac.in/library/phd">IIST - PhD Thesis</a></li>

</ul >


<h4>Source</h4>
<ul>
 <li><a href="https://github.com/slabstech/revive/tree/main/products/bhoomi">Bhoomi : Digital Assistant and Monitoring System</a></li>
 <li><a href="https://github.com/slabstech/revive/tree/main/products/bhoomi">Website</a></li>
</ul >

<h4><a href="https://2022.spaceappschallenge.org/challenges/2022-challenges/mars-habitat/teams/gaganyatri/members"> Team Members</a> </h4>
<ul>
 <li><a href="https://gaganyatri.com/">Sachin Shetty </a></li>
 <li> Could be you too !!</li>
 <li><a href="https://2022.spaceappschallenge.org/challenges/2022-challenges/mars-habitat/teams/gaganyatri/stream"> Team Board </a></li>
</ul >

<h4>TODO</h4>
<ul>
 <li>Integrate <a href="https://bhoomi-monitor-1664733866042.azurewebsites.net/">Bhoomi</a>  with <a href="">OSR Rover</a></li>
 <li>Build Simulations and test failure scenarios of Habitat</li>
 <li>Run S/W on embedded device with ISS components</li>
</ul >


<h4>Conference - Project Submission </h4>
<ul>
 <li><a href="https://iaaspace.org/event/8th-iaa-planetary-defense-conference-2023/">3-7 April 2023, Vienna, Austria</a></li>
 <li><a href="https://iaaspace.org/event/14th-iaa-symposium-on-small-satellites-for-earth-observation-2023/">07-12 May 2023, Berlin, Germany</a></li>
</ul >

<h4>Powered By</h4>
<a href="https://slabstech.com)">S Labs Solutions, India.</a>

<!--


ul >
 <li >Mission Type : Short (<30 days), Long (1 year)</li >
 <li > Storage : Per Person</li >
 <li > Rover Control : OSR Rover Control  </li >
 <li > Convertor : Repurpose materials for 3D printer </li >
</ul -->

