<footer id="footer" class="site-footer">
  {% include footer-custom.html %}

  {%- if site.footer_links -%}
    <div class="social-icons">
      {%- for footer_link in site.footer_links -%}
        {%- if footer_link.url contains "://" -%}
          {%- assign url = footer_link.url -%}
        {%- else -%}
          {%- assign url = footer_link.url | relative_url -%}
        {%- endif -%}
        <a class="social-icon" href="{{ url }}"><i class="{{ footer_link.icon | default: 'fas fa-link' }} fa-2x" title="{{ footer_link.title }}"></i></a>
      {%- endfor -%}
    </div>
  {%- endif -%}

  <div class="copyright">
    {% if site.copyright %}
      {{ site.copyright | markdownify }}
    {% else %}
      <p> <p>&copy; 2017 - {{ site.time | date: '%Y' }} S Labs Solutions. {{ site.data.text[site.locale].powered_by | default: "Powered by" }}  <a href="https://slabstech.com/" rel="nofollow">S Labs Solutions</a>, <a href="{{ site.url }}/site/privacy">Privacy</a>, <a href="{{ site.url }}/tags" >Sitemap</a> </p>
    {% endif %}
  </div>