body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.house {
  width: 500px;
  height: 421px;
  border: 5px solid lightgray;
  background: black;
  position: relative;
}

.wall {
  position: absolute;
  width: 370px;
  height: 200px;
  border: 2px ;
  background: #ffa500;
  left: 65px;
  top: 193px;
}

.door {
  position: absolute;
  width: 86px;
  height: 114px;
  background: #ff7f50;
  left: 207px;
  top: 279px;
}

.chimney {
  position: absolute;
  width: 50px;
  height: 100px;
  background: #ffa500;
  left: 80px;
  top: 45px;
}



.door-handle {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: black;
  left: 217px;
  top: 328px;
}


.roof {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 240px solid transparent;
  border-right: 240px solid transparent;
  border-bottom: 172px solid  #ffa500;
  left: 10px;
  top: 21px;

}


.window{
  position: absolute;
  width: 25px;
  height: 25px;
  background: black;
  z-index: +1;
}

.window_left_top_left {
  left: 115px;
  top: 210px;
  z-index: +2;
}

.window_left_top_right {
  left: 160px;
  top: 210px;
  z-index: +2;
}

.window_left_bottom_left {
  left: 115px;
  top: 250px;
  z-index: +2;
}
.window_left_bottom_right {
  left: 160px;
  top: 250px;
  z-index: +2;
}

.window_right_top_left  {
  left: 315px;
  top: 210px;
  z-index: +2;
}


.window_right_top_right{
  left: 360px;
  top: 210px;
  z-index: +2;
}


.window_right_bottom_left {
  left: 315px;
  top: 250px;
  z-index: +2;
}


.window_right_bottom_right {
  left: 360px;
  top: 250px;
  z-index: +2;
}
